.sidebar {
    position: absolute;
    left: 0;
    width: 15%;
}

.body {
    position: absolute;
    right: 0;
    width: 85%;
}

.select {
    width: 90%;
}

.table-hover {
    width: 90%;
}

.center {
    text-align: center;
}

#filter {
    width: 100%;
}


.col-xs-9 {
    padding: 10px;
}